body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
}

.podcast {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.controles {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; 
  flex-wrap: wrap;
}

iframe {
  display: none;
}
.titulo-podcast {
  color: red;
}